<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Modification des informations d'un Spot</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">

                <div th:if="${saveSpot eq 'unsuccess'}">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <strong>Erreur!</strong> Spot non mis &agrave; jour.
                    </div>
                </div>
                <div th:if="${saveSpot eq 'success'}">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <strong>Success!</strong> Spot mis &agrave; jour.
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Editer un Spot</h3>
                    </div>
                    <div class="panel-body">
                        <form th:object="${editSpot}" th:action="@{/spot/update}" action="#" method="post">
                            <input type="hidden" th:field="*{idSpot}"/>
                            <input type="text" th:field="*{nomSpot}" class="form-control" placeholder="nomSpot"/>
                            <div style="clear:both;display:block;height:10px;"></div>
                            <input type="text" th:field="*{interet}" class="form-control" placeholder="interet"/>
                            <div style="clear:both;display:block;height:10px;"></div>
                            <input type="text" th:field="*{presentation}" class="form-control" placeholder="presentation"/>
                            <div style="clear:both;display:block;height:10px;"></div>
                            <input type="text" th:field="*{hauteurMin}" class="form-control" placeholder="hauteurMin"/>
                            <div style="clear:both;display:block;height:10px;"></div>
                            <input type="text" th:field="*{hauteurMax}" class="form-control" placeholder="hauteurMax"/>
                            <div style="clear:both;display:block;height:10px;"></div>
                            <input type="text" th:field="*{roche}" class="form-control" placeholder="roche"/>
                            <div style="clear:both;display:block;height:10px;"></div>
                            <input type="text" th:field="*{cotationMin}" class="form-control" placeholder="cotationMin"/>
                            <div style="clear:both;display:block;height:10px;"></div>
                            <input type="text" th:field="*{cotationMax}" class="form-control" placeholder="cotationMax"/>
                            <div style="clear:both;display:block;height:10px;"></div>
                            <input type="text" th:field="*{labelAmi}" class="form-control" placeholder="labelAmi"/>
                            <div style="clear:both;display:block;height:10px;"></div>
                            <input type="text" th:field="*{codePostalSpot}" class="form-control" placeholder="codePostalSpot"/>
                            <div style="clear:both;display:block;height:10px;"></div>
                            <input type="text" th:field="*{communeSpot}" class="form-control" placeholder="communeSpot"/>
                            <div style="clear:both;display:block;height:10px;"></div>
                            <input type="text" th:field="*{massif}" class="form-control" placeholder="massif"/>
                            <div style="clear:both;display:block;height:10px;"></div>
                            <input type="text" th:field="*{orientation}" class="form-control" placeholder="orientation"/>
                            <div style="clear:both;display:block;height:10px;"></div>
                            <input type="text" th:field="*{acces}" class="form-control" placeholder="acces"/>
                            <div style="clear:both;display:block;height:10px;"></div>
                            <input type="text" th:field="*{cartographie}" class="form-control" placeholder="cartographie"/>
                            <div style="clear:both;display:block;height:10px;"></div>
                            <label th:text="*{dateDeMiseAJour}"></label>
                            <div style="clear:both;display:block;height:10px;"></div>
                            <input type="submit" class="btn btn-danger pull-right" value="Mettre &agrave; jour">
                        </form>
                    </div>

                    <div class="panel-footer">
                        <a th:href="@{/}" class="btn btn-success">Retour</a>


                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>