<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
	<title>eGrimpe - Accueil</title>
	<meta charset="UTF-8"/>
</head>

<body>
<!-- menu de l'application dans le header -->
<div th:include="mon-header.html"/>

<div class="d-flex p-2 bd-highlight" id="elcapitain">
	<div class="container">

	<div class="row" style="margin-top:80px;margin-bottom:50px;">

		<div class="col-md-6 table-bordered">
			bloc 1
		</div>
<!--
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Client</div>
				<div class="panel-body">
					<form th:action="@{/rechercherspot}" method="get">
						<div>
							<label>Recherche:</label> <input type="text" name="champsRecherche"
															 th:value="${zoneRecherche}" />
							<button type="submit" class="btn btn-primary">Ok</button>
						</div>
					</form>
					<div class="text-danger" th:if="${exception}"
						 th:text="${exception.message}"></div>
				</div>
			</div>
		</div>
-->
		<div class="col-md-6 table-bordered">
			bloc 2
		</div>

	</div>

	</div>

</div>

<div th:include="mon-footer.html"/>

</body>
</html>