<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
    <script src="../static/js/myJS.js" th:src="@{/js/myJS.js}"></script>
    <title>eGrimpe - Gestion des topos</title>
    <meta charset="UTF-8">
</head>

<body>
<!-- menu de l'application dans le header -->
<div th:insert="mon-header.html"/>

<div class="row"  style="margin-top:100px;margin-bottom:10px;">

    <div class="col-md-offset-1 col-md-6">
        <!-- Demande d'emprunt Messages -->
        <div th:if="${soumettreDemande eq 'unsuccess'}">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Erreur !</strong> - Demande impossible
            </div>
        </div>
        <div th:if="${soumettreDemande eq 'success'}">
            <div class="alert alert-success alert-dismissible" role="alert">
                <strong>OK !</strong> - Demande adress&eacute;e
            </div>
        </div>
        <!-- Acceptation demande d'emprunt Messages -->
        <div th:if="${accepterDemande eq 'unsuccess'}">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Erreur !</strong> - Impossible d'accepter la demande
            </div>
        </div>
        <div th:if="${accepterDemande eq 'success'}">
            <div class="alert alert-success alert-dismissible" role="alert">
                <strong>OK !</strong> - Demande accept&eacute;e
            </div>
        </div>
        <!-- Annulation demande d'emprunt Messages -->
        <div th:if="${annulerDemande eq 'unsuccess'}">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Erreur !</strong> - Impossible d'annuler la demande
            </div>
        </div>
        <div th:if="${annulerDemande eq 'success'}">
            <div class="alert alert-success alert-dismissible" role="alert">
                <strong>OK !</strong> - Annulation de la demande r&eacute;alis&eacute;e
            </div>
        </div>
        <!-- Save Alert Messages -->
        <div th:if="${saveTopo eq 'unsuccess'}">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Erreur !</strong> - Topo non sauvegard&eacute;e.
            </div>
        </div>
        <div th:if="${saveTopo eq 'success'}">
            <div class="alert alert-success alert-dismissible" role="alert">
                <strong>OK !</strong> - Topo sauvegard&eacute;e.
            </div>
        </div>

        <!-- Deletion Alert Messages -->
        <div th:if="${deletion eq 'unsuccess'}">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Erreur !</strong> - Topo non supprim&eacute;e.
            </div>
        </div>
        <div th:if="${deletion eq 'success'}">
            <div class="alert alert-success alert-dismissible" role="alert">
                <strong>OK !</strong> - Topo supprim&eacute;e.
            </div>
        </div>

        <!-- Edit Alert Message -->
        <div th:if="${status eq 'notfound'}">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Erreur !</strong> - Topo invalide.
            </div>
        </div>
        <div th:if="${status eq 'notAuthorize'}">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Erreur !</strong> - Action non autoris&eacute;e. <Strong>Pirate !</Strong>
            </div>
        </div>
        <div th:if="${edit eq 'unsuccess'}">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Erreur !</strong> - Topo non r&eacute;cup&eacute;r&eacute;e.
            </div>
        </div>
        <div th:if="${edit eq 'success'}">
            <div class="alert alert-success alert-dismissible" role="alert">
                <strong>OK !</strong> - Topo r&eacute;cup&eacute;r&eacute;e avec succ&egrave;s.
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <form data-toggle="validator" role="form" th:object="${topoCriteres}" th:action="@{/topo/recherche}" method="post">
            <table class="table table-striped">
                <thead>
                <tr class="btn-default">
                    <th></th>
                    <th>Nom</th>
                    <th>Code postal</th>
                    <th>Topo disponible</th>
                </tr>
                <tr>
                    <th><button type="submit" class="btn btn-primary">Rechercher</button></th>
                    <th><input type="text" class="form-control" th:field="*{nomTopo}" id="nomTopo"  /></th>
                    <th><input type="text" class="form-control" th:field="*{codePostalTopo}" id="codePostalTopo"  /></th>
                    <th>
                        <input type="checkbox"  class="form-control" name="disponibiliteTopo" th:checked="*{disponibiliteTopo}"/>
                    </th>
                </tr>
                </thead>
            </table>
        </form>
    </div>

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Liste des topos</h3>
            </div>
            <div class="panel-body">
<!--
                <a th:href="@{/topo/add}"><span class="btn btn-primary">Créer</span></a>
-->
                <a sec:authorize="isAuthenticated()" th:href="@{/topo/add}"><span class="btn btn-primary">Créer</span></a>

                <table class="table table-striped">
                    <thead>
                    <tr class="btn-default">
                        <th class="col-md-2">Nom</th>
                        <th class="col-md-1">Code postal</th>
                        <th class="col-md-4">Description</th>
                        <th class="col-md-1">Propri&eacute;taire</th>
                        <th class="col-md-1">Disponibilit&eacute;</th>
                        <th class="col-md-1">Date emprunt</th>
                        <th class="col-md-1">Emprunteur</th>
                        <th class="col-md-1" align="center"> ... </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${#lists.isEmpty(listTopos)}" class="alert alert-info">
                        <td colspan="4" align="center">Il n'y a aucune topo trouv&eacute;e !!!</td>
                    </tr>
                    <tr th:each="topo : ${listTopos}">
                        <td th:text="${topo.nomTopo}"></td>
                        <td th:text="${topo.codePostalTopo}"></td>
                        <td th:text="${topo.descriptionTopo}"></td>
                        <td th:text="${topo.proprietaireTopo.getEmail()}"></td>
                        <td>
                            <div th:if="${status eq 'notfound'}">
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <strong>Erreur !</strong>status (topo-list) - Topo invalide.
                                </div>
                            </div>
                        <span th:if="${topo.disponibiliteTopo} == false"}
                            <span>Non</span>
                        </span>
                        <span th:if="${topo.disponibiliteTopo} == true"}
                            <span>Oui</span>
                        </span>
                        </td>
                        <td th:text="${topo.dateEmpruntTopo}"></td>
                        <td>
                        <span th:if="${topo.emprunteurTopo} != null"}
                              th:text="${topo.emprunteurTopo.getEmail()}"></span>
                        </td>
                        <td align="left">
                            <a th:href="@{/topo/affiche/{id}(id=${topo.idTopo})}" title="Afficher" data-toggle="tooltip" data-placement="top">
                                <span class="glyphicon glyphicon-eye-open"></span></a> &nbsp;
                            <span th:if="${topo.proprietaireTopo.getEmail()} == ${user.getEmail()}">
                                <a th:href="@{/topo/edit/{id}(id=${topo.idTopo})}" title="Modifier" data-toggle="tooltip" data-placement="top">
                                    <span class="glyphicon glyphicon-edit"></span></a> &nbsp;
                            </span>
                            <span th:if="${membre} == true">
                                <a th:href="@{/topo/delete/{id}(id=${topo.idTopo})}" title="Supprimer" data-toggle="tooltip" data-placement="top"
                                    onClick="return confirm('ATTENTION ! Vous allez supprimer un élément, voulez-vous poursuivre ?');">
                                    <span class="glyphicon glyphicon-trash"></span></a> &nbsp;
                            </span>
                            <span th:if="${user.email} != null">
                                <span th:if="${topo.proprietaireTopo.getEmail()} != ${user.getEmail()}">
                                    <span th:if="${topo.disponibiliteTopo} == true">
                                        <span th:if="${topo.emprunteurTopo} == null">
                                            <a th:href="@{/topo/demande/{id}(id=${topo.idTopo})}"  title="Demander l'emprunt" data-toggle="tooltip" data-placement="top">
                                                <span class="glyphicon glyphicon-open"></span></a> &nbsp;
                                        </span>
                                    </span>
                                </span>
                            </span>
                            <span th:if="${topo.proprietaireTopo.getEmail()} == ${user.getEmail()}">
                                <span th:if="${topo.emprunteurTopo} != null">
                                    <span th:if="${topo.dateEmpruntTopo} == null">
                                        <a th:href="@{/topo/accepte/{id}(id=${topo.idTopo})}" title="Accepter l'emprunt" data-toggle="tooltip" data-placement="top">
                                            <span class="glyphicon glyphicon-thumbs-up"></span></a> &nbsp;
                                        <a th:href="@{/topo/annule/{id}(id=${topo.idTopo})}" title="Refuser l'emprunt" data-toggle="tooltip" data-placement="top">
                                            <span class="glyphicon glyphicon-thumbs-down"></span></a> &nbsp;
                                    </span>
                                    <span th:if="${topo.dateEmpruntTopo} != null">
                                        <a th:href="@{/topo/annule/{id}(id=${topo.idTopo})}" title="Terminer l'emprunt" data-toggle="tooltip" data-placement="top">
                                            <span class="glyphicon glyphicon-save"></span></a> &nbsp;
                                    </span>
                                </span>
                            </span>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div th:insert="mon-footer.html"/>

</body>
</html>