<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
    <script src="../static/js/myJS.js" th:src="@{/js/myJS.js}"></script>
    <title>eGrimpe - Gestion des spots</title>
    <meta charset="UTF-8">
</head>

<body>
<!-- menu de l'application dans le header -->
<div th:insert="mon-header.html"/>

    <div class="row"  style="margin-top:100px;margin-bottom:10px;">

        <div class="col-md-offset-1 col-md-6">
            <!-- Save Alert Messages -->
            <div th:if="${saveSpot eq 'unsuccess'}">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>Erreur !</strong>saveSpot (spot-list) - Spot non sauvegard&eacute;.
                </div>
            </div>
            <div th:if="${saveSpot eq 'success'}">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <strong>OK !</strong>saveSpot (spot-list) - Spot sauvegard&eacute;.
                </div>
            </div>

            <!-- Deletion Alert Messages -->
            <div th:if="${deletion eq 'unsuccess'}">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>Erreur !</strong>deletion (spot-list) - Spot non supprim&eacute;.
                </div>
            </div>
            <div th:if="${deletion eq 'success'}">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <strong>OK !</strong>deletion (spot-list) - Spot supprim&eacute;.
                </div>
            </div>

            <!-- Edit Alert Message -->
            <div th:if="${status eq 'notfound'}">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>Erreur !</strong>status (spot-list) - Spot invalide.
                </div>
            </div>
            <div th:if="${edit eq 'unsuccess'}">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>Erreur !</strong>edit (spot-list) - Spot non r&eacute;cup&eacute;r&eacute;.
                </div>
            </div>
            <div th:if="${edit eq 'success'}">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <strong>OK !</strong>edit (spot-list) - Spot r&eacute;cup&eacute;r&eacute; avec succ&egrave;s.
                </div>
            </div>
        </div>

        <div class="col-md-12">
        <form data-toggle="validator" role="form" th:object="${spotCherche}" th:action="@{/spot/recherche}" method="post">
            <table class="table table-striped">
                <thead>
                <tr class="btn-default">
                    <th></th>
                    <th>Nom</th>
                    <th>Code postal</th>
                    <th>Commune</th>
                    <th>Site labellis&eacute;</th>
                </tr>
                <tr>
                    <th><button type="submit" class="btn btn-primary">Rechercher</button></th>
                    <th><input type="text" class="form-control" th:field="*{nomSpot}" id="nomSpot"  /></th>
                    <th><input type="text" class="form-control" th:field="*{codePostalSpot}" id="codePostalSpot"  /></th>
                    <th><input type="text" class="form-control" th:field="*{communeSpot}" id="communeSpot"  /></th>
                    <!-- TODO remplacer le champ par une liste Oui, Non, Rien) -->
                    <th>
                        <input type="checkbox"  class="form-control" name="labelAmi" th:checked="*{labelAmi}"/>
<!--
                        <select type="select"  class="form-control"  size="1"  th:field="*{labelAmi}">
                            <option th:value="'true'" th:text="Oui">Oui</option>
                            <option th:value="'false'" th:text="Non">Non</option>
                        </select>
-->
                    </th>
                </tr>
                </thead>
            </table>
        </form>
        </div>

        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des spots</h3>
                </div>
                <div class="panel-body">

                    <a th:href="@{/spot/add}"><span class="btn btn-primary">Créer</span></a> &nbsp; &nbsp;

                    <table class="table table-striped">
                        <thead>
                        <tr class="btn-default">
                            <th>R&eacute;f&eacute;rence</th>
                            <th>Nom</th>
                            <th>Commune</th>
                            <th>Altitude Min / Max</th>
                            <th>Cotation Min / Max</th>
                            <th>Roche</th>
                            <th>Labellis&eacute;</th>
                            <th align="center"> ... </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(listSpots)}" class="btn-warning">
                            <td colspan="4" align="center">Il n'y a aucun spot trouvé !!!</td>
                        </tr>
                        <tr th:each="spot : ${listSpots}">
                            <td th:text="${spot.idSpot}"></td>
                            <td th:text="${spot.nomSpot}"></td>
                            <td th:text="${spot.codePostalSpot} + ' ' + ${spot.communeSpot}"></td>
                            <td th:text="${spot.hauteurMin} + ' / ' + ${spot.hauteurMax}"></td>
                            <td th:text="${spot.cotationMin} + ' / ' + ${spot.cotationMax}"></td>
                            <td th:text="${spot.roche}"></td>
                            <td th:text="${spot.labelAmi}"></td>
                            <td align="center">
                                <a th:href="@{/spot/secteur/{id}(id=${spot.idSpot})}"><span class="glyphicon glyphicon-eye-open">Afficher</span></a> &nbsp; &nbsp;
                                <a th:href="@{/spot/edit/{id}(id=${spot.idSpot})}"><span class="glyphicon glyphicon-edit">Modifier</span></a>
                                <span th:if="${membre} == true">
                                    <a th:href="@{/spot/delete/{id}(id=${spot.idSpot})}"
                                       onClick="return confirm('ATTENTION ! Vous allez supprimer un élément, voulez-vous poursuivre ?');"><span class="glyphicon glyphicon-trash">Supprimer</span></a>
                                </span>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

<div th:insert="mon-footer.html"/>

</body>
</html>