<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
    <script src="../static/js/myJS.js" th:src="@{/js/myJS.js}"></script>
    <title>eGrimpe - Détails d'un spot</title>
    <meta charset="UTF-8">
</head>
<body>
<!-- menu de l'application dans le header -->
<div th:insert="mon-header.html"></div>

<div class="container">

    <div class="row" style="margin-top:100px;margin-bottom:10px;">

        <div class="col-md-7">
            <!-- Save Alert Messages -->
            <div th:if="${result eq 'unsuccess'}">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <b th:utext="${resultext}">text si OK</b>
                </div>
            </div>
            <div th:if="${result eq 'success'}">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <b th:utext="${resultext}">test si KO</b>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span>Spot : </span><b th:utext="${spot.nomSpot}">Mon spot</b>&nbsp;<span th:text="'(r&eacute;f&eacute;rence ' + ${spot.idSpot} + ')'">(r&eacute;f&eacute;rence 12)</span>
                        <a href="/spot" class="glyphicon glyphicon-share-alt">Retour</a>
                    </h3>
                </div>
                <section class="table-responsive">
                    <table class="table table-striped table-bordered table-responsive">
                        <tr>
                            <th>Pr&eacute;sentation</th>
                            <td th:text="${spot.presentation}"></td>
                        </tr>
                        <tr>
                            <th>Code postal</th>
                            <td th:text="${spot.codePostalSpot}"></td>
                        </tr>
                        <tr>
                            <th>Commune</th>
                            <td th:text="${spot.communeSpot}"></td>
                        </tr>
                        <tr>
                            <th>Massif</th>
                            <td th:text="${spot.massif}"></td>
                        </tr>
                        <tr>
                            <th>Orientation</th>
                            <td th:text="${spot.orientation}"></td>
                        </tr>
                        <tr>
                            <th>Roche</th>
                            <td th:text="${spot.roche}"></td>
                        </tr>
                        <tr>
                            <th>Altitude Min / Max</th>
                            <td th:text="${spot.hauteurMin} + ' / ' + ${spot.hauteurMax}"></td>
                        </tr>
                        <tr>
                            <th>Cotation Min / Max</th>
                            <td th:text="${spot.cotationMin} + ' / ' + ${spot.cotationMax}"></td>
                        </tr>
                        <tr>
                            <th>Acc&egrave;s</th>
                            <td th:text="${spot.acces}"></td>
                        </tr>
                        <tr>
                            <th>Int&eacute;r&ecirc;t</th>
                            <td th:text="${spot.interet}"></td>
                        </tr>
                        <tr>
                            <th>Lab&eacute;lis&eacute;</th>
                            <td th:text="${spot.labelAmi}"></td>
                        </tr>
                        <tr>
                            <th>Cartographie</th>
                            <td th:text="${spot.cartographie}"></td>
                        </tr>
                        <tr>
                            <th>Date de mise &agrave; jour</th>
                            <td th:text="${spot.dateDeMiseAJour}"></td>
                        </tr>
                    </table>
                </section>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Les secteurs
                    <a th:href="@{/spot/addSecteur(idSpot=${spot.idSpot})}"><span class="btn btn-primary">Ajouter un secteur</span></a> &nbsp; &nbsp;
                    </h3>
                </div>
                <section class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Date de mise à jour</th>
                            <th align="center"><span class="glyphicon glyphicon-option-horizontal"></span></th>
                        </tr>
                        <tr th:each="secteur : ${spot.getSecteurs()}">
                            <td th:utext="${secteur.nom}">...</td>
                            <td th:utext="${secteur.description}">...</td>
                            <td th:utext="${secteur.DateDeMiseAJour}">...</td>
                            <td>
                                <a th:href="@{/secteur/voies(idSpot=${spot.idSpot},idSecteur=${secteur.id})}">
                                    <input type="hidden" th:value="${spot.idSpot}" name="Spot"/>
                                    <input type="hidden" th:value="${secteur.id}" name="idSecteur"/>
                                    <button type="submit" class="btn-link"><span class="glyphicon glyphicon-eye-open">Afficher</span></button>
                                </a>
                              <span th:if="${membre} == true">
                                <form action="#" th:action="@{/spot/deleteSecteur}" th:object="${secteur}"
                                      onSubmit="return confirm('ATTENTION ! Vous allez supprimer un élément, voulez-vous poursuivre ?')"; method="post">
                                    <input type="hidden" th:value="${spot.idSpot}" name="spotId"/>
                                    <input type="hidden" th:value="${secteur.id}" name="idSecteur"/>
                                    <input type="hidden" th:value="${user.email}" name="email"/>
                                    <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-trash">Supprimer</span></button>
                                </form>
                              </span>
                            </td>
                        </tr>
                    </table>
                </section>
            </div>
        </div>
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Commentaires</h3>
            </div>
            <span th:if="${user.email} != null">
                <form data-toggle="validator" role="form" th:action="@{/spot/addComment}" th:object="${commentaire}" method="post">
                <div class="form-group">
                    <label for="message">Saisissez votre commentaire</label>
                    <button type="submit" class="btn btn-secondary">Enregistrer</button>
                    <textarea type="textarea" class="form-control" th:field="*{message}" id="message" required="required"></textarea>
                    <p th:if="${#fields.hasErrors('message')}" class="alert alert-danger alert-dismissible" role="alert" th:errors="*{message}"></p>
                </div>
                    <input type="hidden" th:value="${spot.idSpot}" name="spotId"/>
                    <input type="hidden" th:value="${user.email}" name="email"/>
                </form>
            </span>
            <div class="panel" th:each="commentaire : ${spot.getCommentaires()}">
                <span th:if="${membre} != true">
                    <b th:utext="${commentaire.message}">BlaBla</b>
                    <small th:utext="' (Par : ' + ${commentaire.userCommentaire.email} + ' le : ' + ${commentaire.dateDeMiseAJour} + ')'"> (Par toto le 12)</small>
                </span>
                <span th:if="${membre} == true">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>
                        <form action="#" th:action="@{/spot/updateComment}" th:object="${commentaire}" method="post">
                            <b th:utext="${commentaire.message}">BlaBla</b>
                            <small th:utext="' (Par : ' + ${commentaire.userCommentaire.email} + ' le : ' + ${commentaire.dateDeMiseAJour} + ')'"> (Par toto le 12)</small>
                            <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-edit">Modifier</span></button>
                            <textarea type="textarea" class="form-control" th:field="${commentaire.message}" id="message"></textarea>
                            <input type="hidden" th:value="${commentaire.id}" name="id"/>
                            <input type="hidden" th:value="${spot.idSpot}" name="spotId"/>
                            <input type="hidden" th:value="${user.email}" name="email"/>
                        </form>
                        <form action="#" th:action="@{/spot/deleteComment}" th:object="${commentaire}"
                              onSubmit="return confirm('ATTENTION ! Vous allez supprimer un élément, voulez-vous poursuivre ?')"; method="post">
                            <input type="hidden" th:value="${commentaire.id}" name="idCommentaire"/>
                            <input type="hidden" th:value="${spot.idSpot}" name="spotId"/>
                            <input type="hidden" th:value="${user.email}" name="email"/>
                            <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-trash">Supprimer</span></button>
                        </form>
                            </th>
                        </tr>
                    </table>
                </span>
            </div>
            <span th:if="${user.email} == null">
                <form th:action="@{/login}" method="get">
		            <button class="btn btn-md btn-warning btn-block" type="Submit">Pour &eacute;crire un commentaire vous devez &ecirc;tre authentifi&eacute; </button>
	            </form>
            </span>
        </div>
    </div>

    </div>

</div>

</div>

<div th:insert="mon-footer.html"/>

</body>
</html>