<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
	<script src="../static/js/myJS.js" th:src="@{/js/myJS.js}"></script>
	<title>eGrimpe - Modification des informations d'un topo</title>
	<meta charset="UTF-8">
</head>

<body>
<!-- menu de l'application dans le header -->
<div th:insert="mon-header.html"></div>

<div class="container">

	<div class="row" style="margin-top:100px;margin-bottom:10px;">

		<div class="col-md-6">
			<!-- Save Alert Messages -->
			<div th:if="${saveTopo eq 'unsuccess'}">
				<div class="alert alert-danger alert-dismissible" role="alert">
					<strong>Erreur!</strong>saveTopo (topo-edit) - Topo non mis &agrave; jour.
				</div>
			</div>
			<div th:if="${saveTopo eq 'success'}">
				<div class="alert alert-success alert-dismissible" role="alert">
					<strong>Success!</strong>saveTopo (topo-edit) - Topo mis &agrave; jour.
				</div>
			</div>
			<!-- Edit Alert Message -->
			<div th:if="${status eq 'notfound'}">
				<div class="alert alert-danger alert-dismissible" role="alert">
					<strong>Erreur !</strong>status (topo-edit) - Topo invalide.
				</div>
			</div>
			<div th:if="${edit eq 'unsuccess'}">
				<div class="alert alert-danger alert-dismissible" role="alert">
					<strong>Erreur !</strong>edit (topo-edit) - Topo non r&eacute;cup&eacute;r&eacute;.
				</div>
			</div>
			<div th:if="${edit eq 'success'}">
				<div class="alert alert-success alert-dismissible" role="alert">
					<strong>OK !</strong>edit (topo-edit) - Topo r&eacute;cup&eacute;r&eacute; avec succ&egrave;s.
				</div>
			</div>
		</div>

		<div class="col-md-offset-1 col-md-11">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<h3>
							<span>Topo : </span><b th:utext="${topo.nomTopo}">La topo</b>&nbsp;
							<span>/ propri&eacute;taire : </span><b th:text="${topo.proprietaireTopo.getEmail()}">Toto</b>&nbsp;
							<span th:text="'(r&eacute;f&eacute;rence ' + ${topo.idTopo} + ')'">(r&eacute;f&eacute;rence 12)</span>
							<a href="/topo" class="glyphicon glyphicon-share-alt">Retour</a>
						</h3>

					</h3>
				</div>

				<section class="table-responsive">
					<table class="table table-striped table-bordered table-responsive">
						<tr>
							<div class="col-md-12 alert-success" th:if="${topo.disponibiliteTopo == true}">
								<b>Topo disponible</b></div>
							<div class="col-md-12 alert-danger " th:if="${topo.disponibiliteTopo != true}">
								<b>Topo non disponible</b></div>
						</tr>
						<tr>
							<th>Description</th>
							<td th:text="${topo.descriptionTopo}"></td>
						</tr>
						<tr>
							<th>D&eacute;partement</th>
							<td th:text="${topo.departementTopo}"></td>
						</tr>
						<tr>
							<th>Code postal</th>
							<td th:text="${topo.codePostalTopo}"></td>
						</tr>
						<tr>
							<th>Auteur</th>
							<td th:text="${topo.auteurTopo}"></td>
						</tr>
						<tr>
							<th>Date d'emprunt</th>
							<td th:text="${topo.dateEmpruntTopo}"></td>
						</tr>
						<tr>
							<th>Date de retour</th>
							<td th:text="${topo.dateFinEmpruntTopo}"></td>
						</tr>
						<tr>
							<th>Emprunteur</th>
							<tr>
                        	<span th:if="${topo.emprunteurTopo} != null"}
							  th:text="${topo.emprunteurTopo.getEmail()}"></span>
							</tr>
					</table>
				</section>

			</div>
		</div>
	</div>

</div>

<div th:insert="mon-footer.html"/>

</body>
</html>