<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
    <script src="../static/js/myJS.js" th:src="@{/js/myJS.js}"></script>
    <title>eGrimpe - Détails de la voie</title>
    <meta charset="UTF-8">
</head>

<body>
<!-- menu de l'application dans le header -->
<div th:insert="mon-header.html"></div>

<div class="container">

    <div class="row" style="margin-top:100px;margin-bottom:10px;">

        <div class="col-md-7">
            <!-- Save Alert Messages -->
            <div th:if="${result eq 'unsuccess'}">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <b th:utext="${resultext}">text si OK</b>
                </div>
            </div>
            <div th:if="${result eq 'success'}">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <b th:utext="${resultext}">test si KO</b>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span>Spot : </span><b th:utext="${spot.nomSpot}">Mon spot</b>&nbsp;<span th:text="'(r&eacute;f&eacute;rence ' + ${spot.idSpot} + ')'">(r&eacute;f&eacute;rence 12)</span>
                    </h3>
                </div>
                <section class="table-responsive">
                    <table class="table table-striped table-bordered table-responsive">
                        <tr>
                            <div class="alert-info" th:if="${spot.labelAmi == true}"><b>Spot labellis&eacute; "Ami de l&rsquo;escalade"</b></div>
                        </tr>
                        <tr>
                            <td th:text="${spot.presentation}">Bla Bla Bla ...</td>
                        </tr>
                        <tr>
                            <td th:text="${spot.codePostalSpot} + ' ' + ${spot.communeSpot}">30000 N&icirc;mes</td>
                        </tr>
                    </table>
                </section>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span>Secteur : </span><b th:utext="${secteur.nom}">Mon secteur</b>&nbsp;<span th:text="'(r&eacute;f&eacute;rence ' + ${secteur.id} + ')'">(r&eacute;f&eacute;rence 24)</span>
                    </h3>
                </div>
                <section class="table-responsive">
                    <table class="table table-striped table-bordered table-responsive">
                        <tr>
                            <td th:text="${secteur.description}">Bli Bli Bli ...</td>
                        </tr>
                    </table>
                </section>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span>Voie : </span><b th:utext="${voie.nom}">Ma voie</b>&nbsp;<span th:text="'(r&eacute;f&eacute;rence ' + ${voie.id} + ')'">(r&eacute;f&eacute;rence 36)</span>
                        <a th:href="@{/secteur/voies(idSpot=${spot.idSpot},idSecteur=${secteur.id})}" class="glyphicon glyphicon-eject">Retour</a>
                    </h3>
                </div>
                <section class="table-responsive">
                    <table class="table table-striped table-bordered table-responsive">
                        <tr>
                            <td th:text="${voie.description}">Blu Blu Blu ...</td>
                        </tr>
                    </table>
                </section>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Les longueurs
                        <a th:href="@{/voie/addLongueur(idSpot=${spot.idSpot},idSecteur=${secteur.id},idVoie=${voie.id})}"><span class="btn btn-primary">Ajouter une longueur</span></a> &nbsp; &nbsp;
                    </h3>
                </div>
                <section class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Cotation</th>
                            <th>Date de mise à jour</th>
                            <th align="center"><span class="glyphicon glyphicon-option-horizontal"></span></th>
                        </tr>
                        <tr th:each="longueur : ${voie.getLongueurs()}">
                            <td th:utext="${longueur.nom}">...</td>
                            <td th:utext="${longueur.description}">...</td>
                            <td th:utext="${longueur.cotation}">...</td>
                            <td th:utext="${longueur.dateDeMiseAJour}">...</td>
                            <td>
                              <span th:if="${membre} == true">
                                <form action="#" th:action="@{/voie/deleteLongueur}" th:object="${longueur}"
                                      onSubmit="return confirm('ATTENTION ! Vous allez supprimer un élément, voulez-vous poursuivre ?')"; method="post">
                                    <input type="hidden" th:value="${spot.idSpot}" name="spotId"/>
                                    <input type="hidden" th:value="${secteur.id}" name="idSecteur"/>
                                    <input type="hidden" th:value="${voie.id}" name="idVoie"/>
                                    <input type="hidden" th:value="${longueur.id}" name="idLongueur"/>
                                    <input type="hidden" th:value="${user.email}" name="email"/>
                                    <button type="submit" class="btn btn-link" title="Supprimer" data-toggle="tooltip" data-placement="top">
                                        <span class="glyphicon glyphicon-trash"></span></button>
                                </form>
                              </span>
                            </td>
                        </tr>
                    </table>
                </section>
            </div>
        </div>
    </div>

</div>


</div>

<div th:insert="mon-footer.html"/>

</body>
</html>